certifi==2019.11.28
chardet==3.0.4
Cython==0.29.15
idna==2.9
ImageHash==4.0
numpy==1.18.2
Pillow==7.0.0
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
PyWavelets==1.1.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
urllib3==1.25.8
vedis==0.7.1
